/* General styles for all search box */
.search-box {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 10px;
  width: 150px;
  line-height: 30px;
  margin-bottom: 30px;
}

/* Styles specific to monster search box */
.monsters-search-box {

}
